<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container p-5">
      <div class="row">
        <div class="col-md-offset-3 col-md-12">
          <h1><%= title %></h1>
            <h2>Welcome to my Midterm Pratical Test</h2>
            <h4>Name: <b>Emander D. Dangla</b></h4>
            <h4>Student ID: <b>301245113</b></h4>
            <h4>Course Code: <b>COMP229</b></h4>
            <h4>Course Name: <b>Web Application Development</b></h4>
            <h4>Assignment Information: <b>Mid-Term Test</b></h4>
        </div>
      </div>
    </div>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>


